.formContainer {
    // margin-top: 172px;
    margin-inline: auto;
    width: 500px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin-top: 116px;
    height: 314px;
    .header {
        text-align: center;
    }
    .testColor {
        width: 40px;
        margin-inline: auto;
    }
}
